body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
    background-color: rgb(51,51,51);
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}

.key {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background: rgb(70,70,70);
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

.key:active, .auto-complete-item:active {
    background: #a6b62c;
}

.left {
    position: fixed;
    width: 300px;
    left: 0;
    bottom: 0;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
}

.right {
    position: fixed;
    width: 300px;
    right: 0;
    bottom: 0;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
}

.non-display {
    background: none;
}

.non-display:active {
    background: none;
}

.current-line {
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    width: calc(100% - 40px);
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.auto-complete {
    width: 120px;
    left: 50%;
    position: fixed;
    margin-left: -60px;
    top: 120px;
    height: calc(100% - 127px);
    overflow-y: auto;
    border: 1px solid #aaa;
}

.auto-complete-item {
    width: 100%;
    padding: 20px 5px;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #aaa;
    text-overflow: ellipsis;
}

.auto-complete-item:last-child {
    border: none;
}

.highlight {
    color: #a6b62c;
}

.auto-complete-item:active .highlight {
    color: #000;
}